# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Build directory
dist

# Dotenv configuration
.env

# Tests
coverage
.nyc_output

uploads/*

#Remove .vscode config from gitignore
!.vscode